@use '../../../storybook/stories/lib/lib' as lib;

.adminPage {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 128px;
    background-color: lib.$color-white;
    gap: 32px;
}

@include lib.mobile-size {
    .adminPage {
        padding: 0 32px;
    }
}