@use '../../../storybook/stories/lib/lib' as lib;

.adminPage {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: 32px 128px;
    gap: 32px;
    background-color: transparent;
}

.adminPage-bottomActions {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 3fr 1fr;

    .adminPage-deleteSelected{
        display: flex;
        align-items: center;
        padding: 0 8px;
        justify-content: flex-start;
    }

    .adminPage-pagination{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;;
    }
}

.adminPage-contentContainer {
    height: auto;
    width: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.adminPage-zeroContent {
    position: absolute;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    top: 0;
    left: 0;
    margin: 0 auto;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    backdrop-filter: blur(3px); // 这里的数值可以根据需要调整
    background-color: rgba(255, 255, 255, 0.3); // 轻微的白色透明背景
    flex-direction: column;
    gap: 32px;

    .adminPage-zeroContentHeader{
        color: lib.$color-grey-900;
        @include lib.typography-text('xxl', 'semibold');
    }

    .adminPage-zeroContentText{
        color: lib.$color-grey-700;
        display: flex;
        @include lib.typography-text('md','regular');
    }
}

@include lib.mobile-size {
    .adminPage {
        padding: 16px 32px;
    }

}