@use '/storybook/stories/atoms/button/button.scss';
@use '/storybook/stories/atoms/form/checkbox/checkbox.scss';
@use '/storybook/stories/atoms/form/search-bar/search-bar.scss';
@use '/storybook/stories/atoms/pagination/pagination.scss';
@use '/storybook/stories/molecures/table/user-table/user-table.scss';
@use '/storybook/stories/lib/lib' as lib;

@use './pages/admin-page.scss';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    padding: 0;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.mainPage {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    background-color: lib.$color-grey-100;
}

.mainPage-header{
    background-color: lib.$color-white;
    position: sticky;
    top: 0;
    @include lib.set-box-shadow('xs', 'grey', 'xs');
}

.mainPage-content{
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
}
  