@use '../../../lib/lib' as lib;

.userTable {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  
    .userTable-tr {
      display: flex;
      align-items: center;
      border: none;
      height: 44px;
      border-bottom: 1px solid lib.$color-grey-100;
      @include lib.set-box-shadow('xs','grey','sm');

      &.userTable-trSelected{
        background-color: lib.$color-grey-100;
        border-bottom: 1px solid lib.$color-grey-200;
      }

      &.removing {
        transition: all 0.25s ease-out;
        opacity: 0;
        transform: scaleY(0);
        height: 0;
      }

      .userTable-td, .userTable-th{
        flex: 1; 
        display: flex;
        text-align: start; 
        flex-direction: row;
        align-items: center;
      }

      .userTable-td {
        @include lib.typography-text('md', 'regular')
      }

      .userTable-th {
        @include lib.typography-text('md', 'semibold');
      }
    }

    .userTable-actions{
        display: flex;
        flex-direction: row;
        gap: 8px
    }

    .userTable-actionIcon{
        height: 28px;
        width: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: lib.$color-grey-100;
        }
    }
  }
  