@use '../../lib/lib' as lib;

.pagination {
    display: flex;
    flex-direction: row;
    gap: 12px;
    border: none;
    height: fit-content;
    width: fit-content;
}

.pagination-activeButton{
    // the active button is still clickable, but should not have any pointer-events
    pointer-events: none;
}